
<h1>{{ materia.nome }}</h1>

{% if error_message %}
<p>
	<strong>{{ error_message }}</strong>
</p>
{% endif %} 

{% if materia.topico_set.all %}

<table>
	<thead>
		<th>Nome</th>
	</thead>
	{% for topico in materia.topico_set.all %}
	<tbody>
		<td>{{ topico.descricao }}</td>
		<td>{{ topico.peso }}</td>
		<td>{{ topico.aproveitamento }}</td>
	</tbody>
	{% endfor %}	
</table>

<!-- 
<form action="{% url 'polls:vote' materia.id %}" method="post">
	{% csrf_token %} {% for choice in question.choice_set.all %} <input
		type="radio" name="choice" id="choice{{ forloop.counter }}"
		value="{{ choice.id }}" /> <label for="choice{{ forloop.counter }}">{{
		choice.choice_text }}</label><br /> {% endfor %} <input type="submit"
		value="Vote" />
</form>
-->
{% else %}
<p>No polls are available.</p>
{% endif %}
